@use "badge";
@use "badge.md.vars" as vars;
@use "../../themes/ionic.mixins" as mixins;

// Material Design Badge
// --------------------------------------------------

:host {
  --padding-top: 3px;
  --padding-end: 4px;
  --padding-bottom: 4px;
  --padding-start: 4px;

  @include mixins.border-radius(vars.$badge-md-border-radius);
}
